* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

body {
    display: flex;
    justify-content: center;
    background-color: #EBEBEB;
}

ul {
    list-style: none;
    font-size: 18px;
    padding-left: 0;
}

.todo-container {
    margin-top: 100px;
}

.todo-container h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 40px;
}

.todo-container input {
    display: flex;
    justify-content: center;
    border: none;
    padding: 20px 180px;
    border-radius: 5px;
}

.add-btn {
    position: relative;
    top: -22px;
    left: 420px;
    border: none;
    background-color: #EFEFEF;
    padding: 15px;
    border-radius: 50%;
    font-size: 16px;
}

.todo-item {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
    margin: 0 20px;
}

.delete-btn {
    position: relative;
    top: -50px;
    left: 420px;
    border: none;
    background-color: #EFEFEF;
    padding: 10px;
    font-size: 16px;
}
